@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:ital,wght@0,200;0,400;1,300&family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Nunito', sans-serif;
    color: #007bff                      
}
h1{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 70px;
}

img{
    width: 250px;
    border-radius: 50%;
    height: 350px;
}
ul{
    list-style: none;
    padding: 0;
}

#landing,
#gallery{
    height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tools{
    padding:25px;
    height:200px;
    border:5px solid #f2f2f2;
    margin: 20px;
    width: 75%;
    color:white;
}
.nav-link{
    text-transform: uppercase;
}
html{
    scroll-behavior: smooth;
}