@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:ital,wght@0,200;0,400;1,300&family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Nunito', sans-serif;
}
h1{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 70px;
}